#geneDiv {
    font-size: 30px;
    width: 600px;
    border: 2px solid blue;
    margin: auto;
    font-family: Arial;
    color: blue;
    background-color: lightblue;
    display:inline-block;
    text-align:left;
    margin: 10px;
    margin-right: 100px;
}

#reproductionDiv {
    font-size: 30px;
    width: 600px;
    border: 2px solid brown;
    margin: auto;
    font-family: Arial;
    color: brown;
    background-color: sandybrown;
    display:inline-block;
    text-align:left;
    margin: 10px;
}

#learningDiv {
    font-size: 30px;
    width:600px;
    border: 2px solid purple;
    margin: auto;
    font-family: Arial;
    color: purple;
    background-color: mediumpurple;
    display:inline-block;
    text-align:left;
    margin: 10px;
}

#worldConfig {
    font-size: 30px;
    width: 800px;
    border: 2px solid darkgreen;
    margin: auto;
    font-family: Arial;
    color: darkgreen;
    background-color: lightgreen;
    display:inline-block;
    text-align:left;
    margin: 10px;
}

#histogramConfig, #collectorConfig, #server {
    font-family: Arial;
    padding: 6px;
    border-radius: 10px;
    border: 2px solid blue;
    margin: auto;
    color: blue;
    background-color: lightskyblue;
    display: inline-block;
    text-align: left;
    margin: 10px;
}

#server input {
    width: 250px;
}

select {
    font-size:30px;
}

div input {
    width: 80px;
    font-size:30px;
}

div div input {
    width: 250px;
    font-size:30px;
}

p {
    margin: 4px;
    font-size:30px;
}

h1 {
    color: red;
}

input[type='radio'] {
    transform: scale(2.5);
}
